* {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Saira Extra Condensed', sans-serif;
}

html {
  background: radial-gradient(rgb(17, 0, 201) 0%, rgb(0, 0, 0) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Firefox Scrollbar settings */
  scrollbar-color: rgb(255, 255, 255) rgb(17, 12, 40);
  scrollbar-width: auto;
}

/* Chrome and Safari Scrollbar settings */
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background-color: rgb(17, 12, 40);
  border: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgba(255, 255, 255);
}

#bg-texture {
  filter: blur(20px);
  filter: drop-shadow(0px 0px 50px #fff);
  opacity: 0.5;
  z-index: -999;
  position: fixed;
  top: -40%;
  scale: 0.9;
  animation: rotating 60s infinite linear;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1450px) {
  #bg-texture {
    top: 20%;
  }
}

@media only screen and (max-width: 500px) {
  #bg-texture {
    top: 20%;
  }
}
